<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
      &copy; <a href="https://github.com/dthree">David Caccavella</a>
  </div>
  <div class="mdl-mini-footer__right-section">
    Love it? Cash is brand new! Give it a ★ or a tweet to help spread the word!
  </div>
</footer>