<header class="mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      CASH
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="mdl-layout-spacer"></div>
    <!-- Top navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link mdl-typography--text-uppercase is-active" href="/">Overview</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/getting-started">Get Started</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/faq">FAQ</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="https://github.com/dthree/cash">
          <i class="material-icons">link</i>
          <span>GitHub</span>
        </a>
    </nav>
  </div>
</header>
